/*введение переменной для вычисления padding элемента как двойную величину css-свойства*/
html {
	--pump: 2;
	font-size: calc(5vw + 20px);/*размер шрифта как 5% ширины области просмотра + 20 пикселей*/
}

.el {
	
	width: calc(100%/3);/*корректируем размер картинки*/
	transform:rotate(calc(3turn + 90deg));/*поворачиваем картинку*/
	padding: calc(var(--pump) * 2rem);/*отступы с помощью добавления переменной*/
}